
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$corona-virus-tracker-app-primary: mat-palette($mat-indigo);
$corona-virus-tracker-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$corona-virus-tracker-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$corona-virus-tracker-app-theme: mat-light-theme($corona-virus-tracker-app-primary, $corona-virus-tracker-app-accent, $corona-virus-tracker-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($corona-virus-tracker-app-theme);

/* You can add global styles to this file, and also import other style files */

/* html, body {
     height: 100%;
     max-width: 100%;
     overflow-x: hidden;
 } */

 header {
    flex-shrink: 0;
}
 body{
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer{
    padding: 1em;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

/* div{
    overflow-y: hidden;
} */
