/* Structure */
.example-container {
    position: absolute;
    padding: 5px;
    height: 100%;
    width: 100%;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-full-width:nth-last-child(0) {
    margin-bottom: 10px;
  }
  
  .button-row {
    margin: 10px 0;
  }
  
  .mat-flat-button {
    margin: 5px;
  }
  
  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    margin-top: 15%;
  }
  
  mat-form-field {
    display: block;
  }