<div *ngIf="isUserLoggedIn ; else loginPageBlock">
    <app-header (toggleSideNavFromHeader)='openSideNavBarTab()'></app-header>
    <mat-sidenav-container style="height: 500px;">
        <mat-sidenav mode="side" [opened]='openSideNavBar'>
            <app-side-bar></app-side-bar>
        </mat-sidenav>
        <mat-sidenav-content *ngIf="isUserLoggedIn">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-footer></app-footer>
</div>
<ng-template #loginPageBlock>
    <div>
        <router-outlet></router-outlet>
    </div>
</ng-template>