.container-fuild{
    form{
      width: 50%;
      align-content: center;
      margin-top: 2%;
      margin-left: 5%;  
    }
}

.header-title{
    h2{
        margin-left: 5%;
        margin-top: 2%; 
    }
}

.btn-place{
    button{
        margin-bottom: 5%;
    }
}
