<div>
    <app-widget-area></app-widget-area>
 </div>
 <br>
 <mat-divider></mat-divider>
 <br>
 <div fxLayout='row' fxLayoutAlign='space-between center' fxLayoutGap='20px' class='stats-cards'>
     <mat-card fxFlex="25">
         <app-widget-card label="Users" total="5K" percentage="50"></app-widget-card>
     </mat-card>
     <mat-card fxFlex='25'>
         <app-widget-card label="Daily Traffic" total="1K" percentage="45"></app-widget-card>
        </mat-card>
        <mat-card fxFlex='25'>
            <app-widget-card label="Money" total="2.5B$" percentage="40"></app-widget-card>
        </mat-card>
        <mat-card fxFlex='25'>
            <app-widget-card label="Market Value" total="25" percentage="35"></app-widget-card>
     </mat-card>
 </div>
 <br>
 <mat-divider></mat-divider>
 <br>
 <div>
     <div fxLayout='row' fxLayoutAlign='space-between center' fxLayoutGap='20px'>
        <div fxFlex='100'>
            <app-widget-pie></app-widget-pie>
        </div>
     </div>
 </div>